BOOTSTRAP_SERVER=your_confluent_bootstrap_server
API_KEY=your_confluent_api_key
API_SECRET=your_confluent_api_secret
FINNHUB_KEY=your_finnhub_api_key
DATABRICKS_HOST=your_databricks_host
DATABRICKS_TOKEN=your_databricks_token
